.custom-swiper-nav {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #6c757d;
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #6c757d;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 16px rgba(0,0,0,0.13);
    padding: 0;
    transition: background 0.18s, color 0.18s, box-shadow 0.18s;
    backdrop-filter: blur(2px);
}
.custom-swiper-nav-prev {
    left: 0;
}
.custom-swiper-nav-next {
  right: 0;
}
.custom-swiper-nav svg {
    display: block;
    margin: auto;
}
